.service-row {
  display: flex;
  flex-wrap: wrap;
}
.service-column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.service-card {
  width: 100%;
  height: 90%;
  padding: 2em 1.5em;
  background: linear-gradient(
    45deg,
    rgba(15, 18, 61, 1) 33%,
    rgba(15, 18, 61, 1) 52%,
    rgba(11, 41, 69, 1) 84%
  );
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
.service-card h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-color) !important;

  margin: 1em 0;
}
.service-card p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: Work Sans;
}
.icon-wrapper {
  background-color: white;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: var(--primary-color) !important;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.service-card:hover {
  background-position: 0 100%;
}
.service-card:hover .icon-wrapper:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.service-card:hover p {
  color: #f0f0f0 !important;
}
/* light theme */
.light-theme .service-card {
  background: white;
}
.light-theme .service-card p {
  color: black !important;
}
.light-theme .icon-wrapper {
  background-color: var(--primary-color) !important;
  color: white !important;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .service-column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .service-column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
