.title {
  color: var(--primary-color) !important;
  font-family: Playfair Display;
  font-weight: 600;
  font-size: 1.5rem;
}
.react-multi-carousel-dot--active button {
  background: black;
}

.react-multi-carousel-dot--active button .light-theme {
  background: black;
}
.bg-blog {
  background-color: var(--team-card-bg);
}
.blog-desc {
  color: #faf4f4;
  font-family: Work Sans;
  font-size: 1rem;
}
.blog-link {
  color: #faf4f4;
  font-size: 1.8rem;
}
/* light theme */
.light-theme .bg-blog {
  background-color: rgb(252, 251, 251);
}
.light-theme .blog-desc {
  color: black;
}
.light-theme .blog-link {
  color: #1b2352 !important;
}
